_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
alembic-jekyll-theme-*.gem
Gemfile.lock
**/Gemfile.lock
/vendor/
/build/
tietosuojaseloste.aux
tietosuojaseloste.dvi
tietosuojaseloste.log
tietosuojaseloste.out
node_modules/
chrome/
